@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.navigation{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    z-index: 3;
}

ul{
    margin-left: auto;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}
li{
    margin: 0 10px;

}

.banner{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url("../Keaobaka Kgaudi/public_html/Images/pang-yuhao-_kd5cxwZOK4-unsplash.jpg");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.banner1{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url("../Keaobaka Kgaudi/public_html/Images/kate-macate-xmddEHyCisc-unsplash.jpg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    /* padding: 2rem 3rem; */
    align-items: center;
    justify-content: center;  
}

.contact-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    padding: 3rem 3rem;
}

.banner-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #352F44;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    color: white;
    margin-right: -30px;
    z-index: 1;
    box-shadow: -3px -3px 63px 9px rgba(0,0,0,0.23);
    -webkit-box-shadow: -3px -3px 63px 9px rgba(0,0,0,0.23);
    -moz-box-shadow: -3px -3px 63px 9px rgba(0,0,0,0.23);
    /* height: 250px; */
}

.contact-img{
    width: 500px;
    height: 400px;
    border-radius: 10px;
    box-shadow: -3px -3px 63px 9px rgba(0,0,0,0.23);
    -webkit-box-shadow: -3px -3px 63px 9px rgba(0,0,0,0.23);
    -moz-box-shadow: -3px -3px 63px 9px rgba(0,0,0,0.23);
    overflow: hidden;
}

.contact-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-contact input{
    width: 200px;
    outline: none;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}

.submit-btn input{
    width: 100%;
    color: white;
    background-color:#5C5470;
}

.submit-btn input:hover{
    background-color: #B9B4C7;
    cursor: pointer;
}
form{
    width: fit-content;
    display: flex;
    align-items: center;
}
.banner-inner{
    width: 700px;
    text-align: center;
}

.banner-inner h1{
    transition: all ease-in .6s;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: fit-content;
    height: fit-content; */
    padding: 2rem 3rem;
    background-color: #f5f5f5;
    height: 90vh;
}

.info-img{
    width: 400px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: -3px -3px 63px 9px rgba(0,0,0,0.23);
    -webkit-box-shadow: -3px -3px 63px 9px rgba(0,0,0,0.23);
    -moz-box-shadow: -3px -3px 63px 9px rgba(0,0,0,0.23);
}
.info h2{
    text-align: center;
}
.info{
    width: 400px;
    margin-left: -20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -3px -3px 63px 9px rgba(0,0,0,0.23);
    -webkit-box-shadow: -3px -3px 63px 9px rgba(0,0,0,0.23);
    -moz-box-shadow: -3px -3px 63px 9px rgba(0,0,0,0.23);
}
.info-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: center; */
    box-shadow: -3px -3px 63px 9px rgba(0,0,0,0.23);
    -webkit-box-shadow: -3px -3px 63px 9px rgba(0,0,0,0.23);
    -moz-box-shadow: -3px -3px 63px 9px rgba(0,0,0,0.23);
}

footer{
    background-color: #352F44;
    color: white;
    padding: 10px 3rem;
}

.note{
    background-color: #B9B4C7;
    padding: 10px 3rem;
}

.map{
    background-color: #352F44;
    padding: 2rem 3rem;
    color: white;
}

.location{
    display: flex;
    justify-content: center;
}

/* GALLERY SECTION */
.gall{
    background-color: black;
    color: white;
}
.gallery-container{
    margin: 5rem 0;
    display: flex;
    justify-content: center;
}

.gallery-container h2{
    text-align: center;
    margin: 3rem 0;
}

.gallery-images {
    display: grid;
    margin: auto;
    width: 70%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
}
.gallery-images img {
    width: 100%;
    height: auto;
    transition: transform 0.5s, box-shadow 0.5s;
}

.gallery-images img:hover {
    transform: scale(1.09); /* Scales the image up to 110% when hovered */
    cursor: pointer;
}

.back-drop{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    backdrop-filter: blur(5px);
    display: none;
}

.image-modal{
    position: fixed;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70%;
    background-color: white;
    display: none;
}

.image-modal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

